.burger {
  background: url("../img/menu.svg") no-repeat center;
  background-size: 100% auto;
  width: 80px;
  height: 49px;
  display: block;
}

.webdelo-logo {
  background: url("../img/logo-main.svg") no-repeat center;
  background-size: 100% auto;
  width: 184px;
  height: 49px;
  display: block;
}

.arrow-left-white {
  background: url("../img/arrow-left-white.svg") no-repeat center;
  background-size: 100% auto;
  width: 13px;
  height: 11px;
  display: block;
}

.google {
  background: url("../img/google.svg") no-repeat center;
  background-size: 100% auto;
  width: 103px;
  height: 35px;
  display: block;
}

.yandex {
  background: url("../img/yandex.svg") no-repeat center;
  background-size: 100% auto;
  width: 100px;
  height: 29px;
  display: block;
}

.crying-2 {
  background: url("../img/crying-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 42px;
  height: 42px;
  display: block;
}

.income {
  background: url("../img/income.svg") no-repeat center;
  background-size: 100% auto;
  width: 48px;
  height: 48px;
  display: block;
}

.website  {
  background: url("../img/website.svg") no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 50px;
  display: block;
}

.growth  {
  background: url("../img/growth.svg") no-repeat center;
  background-size: 100% auto;
  width: 52px;
  height: 52px;
  display: block;
}

.statistics-icon {
  background: url("../img/statistics-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 38px;
  height: 38px;
  display: block;
}

.file-icon {
  background: url("../img/file-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.seo-icon {
  background: url("../img/seo-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 37px;
  height: 37px;
  display: block;
}

.podium-icon {
  background: url("../img/podium-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.flow-chart-icon {
  background: url("../img/flow-chart-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
  display: block;
}

.conversion-icon {
  background: url("../img/conversion-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 36px;
  display: block;
}

.expansion-icon {
  background: url("../img/expansion-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 32px;
  height: 32px;
  display: block;
}

.flag-bolgaria {
  background: url("../img/flag-bolgaria.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.flag-ispania {
  background: url("../img/flag-ispania.png") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.flag-piter {
  background: url("../img/flag-piter.png") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.flag-moscow {
  background: url("../img/flag-moscow.png") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

.flag-grecia {
  background: url("../img/flag-grecia.svg") no-repeat center;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  display: block;
}

@media (max-width: 767.98px) {
  .webdelo-logo {
    width: 116px;
    height: 31px;
  }
}
